<div class="container mt-4" >
  <div class="row">
    <div class="col d-flex justify-content-center">
      <div>
        <div style="text-align: center;">
          <img src="assets/img/perutours.jpg" alt="" />
        </div>
        <div class="mt-4">
          <p>Viene mostrando la belleza del Perú al mundo por más de 60 años</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div>
        <figure>
          <img class="visionImagen" src="assets/img/img9.jpg" alt="" />
        </figure>
      </div>
    </div>
    <div class="col">
      <div class="visionTexto">
        <h4>Visión</h4>
        <p>
          "Mantener el liderazgo de TELMEX en el mercado nacional, expandiendo
          los servicios de Telecomunicaciones y de Tecnologías de la
          Información, en todos los mercados, como una Empresa altamente
          competitiva, confiable, con el mejor crecimiento y ofreciendo sus
          productos y servicios con los mayores estándares de calidad a nivel
          mundial"
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="misionTexto">
        <h4>Misión</h4>
        <p>
          Apple diseña Macs, la mejor computadora personal en el mundo, junto
          con OS X, iLife, iWork y software profesional. Apple lidera la
          revolución de la música digital con sus los iPods y la tienda en línea
          iTunes. Apple ha reinventado el teléfono móvil con el revolucionario
          iPhone y App Store, y está definiendo el futuro de los dispositivos de
          computación móviles con el iPad.
        </p>
      </div>
    </div>
    <div class="col">
      <div>
        <figure>
          <img class="misionImagen" src="assets/img/img8.jpg" alt="" />
        </figure>
      </div>
    </div>
  </div>
</div>
